.myTrend{
    width: 95%;
    border: 1px solid black;
    border-radius: 2px;
    margin: 20px auto ;
}
.myTrend:hover{
    transform: scale(1.01) ;
    border: 2px solid rgba(61, 229, 252, 0.267) ; 
}
p{
    width: 90%;
    margin: 10px auto;
    font-weight: 100;
}
.pic{
    border: 1px solid black;
    border-radius: 5px;
    margin:3px;
}
.Name{
    font-size: 2em;
    font-weight: bold;
}